/* About */
.about-wrapper {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  flex-wrap: wrap;
  .left,
  .right {
    flex-grow: 1;
    width: 50%;
    // When the width is less than 10rem the flex-wrap will make
    //  it brake on new line
    min-width: 10rem;
    text-align: center;

    // We attach pos relative to right so pos absolute of .bubble-wrapper does the trick
    position: relative;
  }
}
.right {
  //border: 1px solid red;
  padding-top: 2rem; // 48px

}
.about .bubble-wrapper {
  display: block;
  padding: 30px auto;
  text-align: center;
  margin-right: 20px;
  max-width: 60%;
  position: absolute;
  //top: 0;
  top: 0.5rem;
  right: 0.7rem; // = 3 x 16px = 48px Got it?yup
}
.bubble {
  width: 100%;
  text-align: right;
  padding-right: 1rem;
}
.about {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  flex-wrap: wrap;
}
.about p {
  color: #555;
  text-align: left;
  margin-left: 10px;
  font-size: 0.5em;
}
.about p:first-letter {
  font-size: 200%;
  margin-left: 25px;
}
//.left {
//	width: 50%;
//  display: flex;
//  flex-wrap: wrap;
//  margin-left: 0;
//  margin-right: 0;
//}
.left {
  padding-top: 2rem;
}
.left img {
  height: 40px;
  width: 40px;
}
.about li {
  display: inline-block;
  margin: 0 auto;
  height: 1em;
  width: 2.5em;
}
.about ul {
  padding: 0;
  list-style: none;
  text-align: center;
  width: 100%;
}
.about ul p {
  margin: 0;
  text-align: center;
}
.about span {
  font-size: 1em;
}
/* About */
//.about .right {
//  width: 50%;
//  display: block;
//  float: right;
//  margin: 0;
//  text-align: center;
//}
.about .right img {
  border-radius: 15px;
  width: 80%;
}
.about h3 {
  width: 100%;
}
.about h4 {
  width: 100%;
}
.about h5 {
  text-align: center;
  width: 100%;
}
/* End of About */
