/* Home */
.home {
  background-image: url(https://images7.alphacoders.com/372/372255.jpg);
  background-size: cover;
  background-position: center top;
  text-shadow: 3px 3px black;
}

.home .logo {
  text-align: center;
  padding-top: 5%;
  margin: 0 auto;
}

.logo img {
  height: 5em;
  width: 5em;
}

/* End of Home */
