/* Portfolio */
.loading {
  display: block;
  margin: 150px auto;
  align-items: center;
  text-align: center;
}
.loading i {
  text-align: center;
}

.loading a {
  text-decoration: none;
  color: #555;
  font-weight: bold;
  //text-align: center;
  font-size: 2rem;
}

.loading a:hover {
  font-weight: bold;
  color: #eee;
}






//.square-wrapper {
//  border: 1px solid red;
//  min-width: 100px;
//  min-height: 100px;
//  display: flex;
//  flex-wrap: wrap;
//  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
//  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
//  display: -ms-flexbox; /* TWEENER - IE 10 */
//  display: -webkit-flex; /* NEW - Chrome */
//}
//
//.square {
//  border: 1px dotted black;
//  min-width: 33%;
//  min-height: 50px;
//}

/* End of Portfolio */
