.skill .list {
  /*height: 100px;*/
  display: block;
  padding-bottom: 20px;
}

.skill ul {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill li {
  width: 45%;
  margin: 0.5rem 0;
}

.progress p {
  position: absolute;
  width: 100%;
  margin-top: 5px;
  text-align: center;
  color: #555;
  font-weight: bold;
  font-size: large;
}

.progress {
  /*margin: 0 auto;*/
  position: relative;
  //width: 70%;
  height: 2rem;
  background-color: #eee;
  border: 0.1rem solid #555;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.progress + h6 {
  margin-top: 0.5rem;
  padding-top: 0.2rem;
}

.bar {
  position: absolute;
  background-color: #f26A22;
  height: 100%;
  border-radius: 0.5rem;
}
.html .bar {
  width: 95%;
}
.css .bar {
  width: 95%;
}

.javascript .bar {
  width: 85%;
}

.office .bar {
  width: 100%;
}

.photoshop .bar {
  width: 80%;
}

.jade .bar {
  width: 95%;
}

.sftp .bar {
  width: 85%;
}

.gulp .bar {
  width: 85%;
}

.sass .bar {
  width: 90%;
}

.git .bar {
  width: 90%;
}

.mobile .bar {
  width: 95%;
}

.cli .bar {
  width: 80%;
}
