// About
a(name='about')
.section.about
  h3 About Me
  br
  h4 Junior Web Developer
  .bubble-wrapper Hi! This is me.
  .clear
  .left
    p
      | My name is Flavius Bohaciuc and I'm a Junior Web Developer on the go, who wants to conquer the world and make a difference!
    p
      | I am 24 years old, an entirely self-taught and self-motivated guy, with a passion for learning and staying up-to-date with the latest technologies and who loves to experiment and try new things.
    h5 Hobbies and Interests
    ul
      li
        p
          i.fa.fa-gamepad.fa-3x(aria-hidden='true')
          br
          span Games
      li
        p
          i.fa.fa-camera.fa-3x(aria-hidden='true')
          br
          span Photography
      li
        p
          i.fa.fa-headphones.fa-3x(aria-hidden='true')
          br
          span Music
      li
        p
          i.fa.fa-futbol-o.fa-3x(aria-hidden='true')
          br
          span Sports
      li
        p
          i.fa.fa-car.fa-3x(aria-hidden='true')
          br
          span Cars
  .right
    img(src='/images/miniME.png')
// End of About
