// Contact
a(name='contact')
.section.contact
  h3 Contact Me
  h6 Let's Get In Touch
  .row
    ul.lines
      li
        i.fa.fa-envelope-square.fa-2x(aria-hidden='true')
        p flaviusbohaciuc@gmail.com
      li
        i.fa.fa-phone-square.fa-2x(aria-hidden='true')
        p +44 7535 017410
      li
        i.fa.fa-map-marker.fa-2x(aria-hidden='true')
        p High Barnet, Greater London, United Kingdom
  h6 Drop Me A Line
  .row
    ul.lines
      li
        i.fa.fa-facebook-square.fa-2x(aria-hidden='true')
        a(href='https://www.facebook.com/flaviusbohaciuc')
          p Facebook
      li
        i.fa.fa-linkedin-square.fa-2x(aria-hidden='true')
        a(href='https://uk.linkedin.com/in/flaviusbohaciuc')
          p LinkedIn
      li
        i.fa.fa-github-square.fa-2x(aria-hidden='true')
        a(href='https://github.com/Sohax')
          p GitHub
// End of Contact
