// Header
input(type="checkbox",id="menu-button")
header
  label(for="menu-button").menu-button
    i.fa.fa-bars
    //span.menu-open Menu
    //span.menu-close Close
  nav
    ul
      li
        a(href='#') Home
      li
        a(href='#about') About
      li
        a(href='#skill') Skill
      li
        a(href='#portfolio') Works
      li
        a(href='#contact') Contact
// End of Header

