// Portfolio
a(name='portfolio')
.section.portfolio
  h3 Portfolio
  .loading
    i.fa.fa-github-square.fa-4x(aria-hidden='true')
    a(href='https://github.com/Sohax')
      p GitHub
  //
    <div class="square-wrapper">
    <div class="square">1</div>
    <div class="square">2</div>
    <div class="square">3</div>
    <div class="square">4</div>
    <div class="square">5</div>
    <div class="square">6</div>
    </div>
// End of Portfolio
