// Skill
a(name='skill')
.section.skill
  h3 Skill
  .list
    ul
      li.html-css
        h6 HTML5/CSS3
        .progress
          .bar
            p
              | 92
              sup %
            p
      li.javascript
        h6 JavaScript
        .progress
          .bar
            p
              | 86
              sup %
            p
      li.office
        h6 Microsoft Office
        .progress
          .bar
            p
              | 100
              sup %
            p
      li.photoshop
        h6 Photoshop
        .progress
          .bar
            p
              | 80
              sup %
            p
      li.jade
        h6 Jade
        .progress
          .bar
            p
              | 98
              sup %
            p
      li.sftp
        h6 SFTP
        .progress
          .bar
            p
              | 83
              sup %
      li.gulp
        h6 Gulp
        .progress
          .bar
            p
              | 95
              sup %
      li.sass
        h6 Sass
        .progress
          .bar
            p
              | 95
              sup %
      li.git
        h6 Git
        .progress
          .bar
            p
              | 88
              sup %
      li.mobile
        h6 Mobile First Design
        .progress
          .bar
            p
              | 100
              sup %
      li.cli
        h6 Command Line Interface
        .progress
          .bar
            p
              | 80
              sup %

// End of Skill
