// Skill
a(name='skill')
.section.skill
  h3 Skill
  .list
    ul
       for skill in site.data.resume.skills
         li(class="#{skill.class}")
          .progress
            .bar
            p
              | #{skill.percentage}
          h6 #{skill.name}
            p
// End of Skill
