// Skill
a(name='skill')
.section.skill
  h3 Skill
  .list
    ul
      li.html-css
        h6 HTML5/CSS3
        .progress
          .bar
            p
              | 92
              sup %
            p
      li.javascript
        h6 Javascript
        .progress
          .bar
            p
              | 86
              sup %
            p
      li.office
        h6 Microsoft Office
        .progress
          .bar
            p
              | 100
              sup %
            p
      li.photoshop
        h6 Photoshop
        .progress
          .bar
            p
              | 80
              sup %
            p
// End of Skill
