// Skill
a(name='skill')
.section.skill
  h3 Skill
  .list
    ul
      li.html-css
        .progress
          .bar
          p
            | 92
            sup %
        h6 HTML5/CSS3
            p
      li.javascript
        .progress
          .bar
          p
            | 86
            sup %
        h6 JavaScript
            p
      li.office
        .progress
          .bar
          p
            | 100
            sup %
        h6 Microsoft Office
            p
      li.photoshop
        .progress
          .bar
          p
            | 80
            sup %
        h6 Photoshop
            p
      li.jade
        .progress
          .bar
          p
            | 98
            sup %
        h6 Jade
            p
      li.sftp
        .progress
          .bar
          p
            | 83
            sup %
        h6 SFTP
      li.gulp
        .progress
          .bar
          p
            | 95
            sup %
        h6 Gulp
      li.sass
        .progress
          .bar
          p
            | 95
            sup %
        h6 Sass
      li.git
        .progress
          .bar
          p
            | 88
            sup %
        h6 Git
      li.mobile
        .progress
          .bar
          p
            | 100
            sup %
        h6 Mobile First Design
      li.cli
        .progress
          .bar
          p
            | 80
            sup %
        h6 Command Line Interface

// End of Skill
