extends _layouts/base

include _modules/link/link

block content
  include _modules/sections/_header
  include _modules/sections/_home
  include _modules/sections/_about
  include _modules/sections/_skill
  include _modules/sections/_porfolio
  include _modules/sections/_contact
  include _modules/sections/_footer